apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: k8s-spot-termination-handler
  namespace: kube-system
  labels:
    app: k8s-spot-termination-handler
spec:
  template:
    metadata:
      name: k8s-spot-termination-handler
      labels:
        app: k8s-spot-termination-handler
    spec:
      # Uncomment the following line if using RBAC
      serviceAccountName: k8s-spot-termination-handler
      containers:
      - name: k8s-spot-termination-handler
        image: quay.io/cogentwebworks/k8s-spot-termination-handler:v0.3.1
        imagePullPolicy: IfNotPresent
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          # Parameters to drain commmand can be adjusted
          - name: DRAIN_PARAMETERS
            value: '--grace-period=120 --force --ignore-daemonsets'
        resources:
          requests:
            cpu: 5m
            memory: 20Mi
          limits:
            cpu: 100m
            memory: 100Mi
      nodeSelector:
        "node-role.kubernetes.io/spot-worker": "true"
